// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// my colors
$homeBgColor = #FFF5E1
$frontColor = #FFF5E1
$cardColor = #ffffff
$btnBgColor = #B53471
$btnHvColor = #34495e
$footColor = #7f8c8d
$projBgColor = #FFF5E1