// disable outbound link icon
.icon.outbound
  display none

.navbar {
  background: linear-gradient(90deg, #77E4C8, #3FA2F6);
}

.links {
  background-color: transparent !important;
}

body {
  background-color: #FFF5E1;
}